#reports
    margin-top:10px;
.report
    border: spx solid #DDD;
    margin-bottom:10px;
.report-hd
    background: #fff;
    dl
        padding-left: 20px;
    h3
        padding: 10px;
.report-bd
    background:@f2f2f2;

.report-plugin-item-hd
    background:#d3e9f4;
    border-bottom:1px solid #fff;
    padding:10px;
.report-plugin-item
    position: relative;

.report-plugin-item-ft
    position:absolute;
    top:10px;
    right:10px;
    ul
        list-style:none;
        float:left;
        margin-left:10px;
    li
        float:left;
    .used-time
        width:80px;
    .plugin-bdg
        margin-right:5px;js
.report-plugin-item-bd
    display:none;
    padding:10px;
    background:#fff;

.report-plugin-item-hd h4
    color: #999;
.report-plugin-hd-has-content h4
    color:#000;

.plugin-file-list
    list-style:none;
