.report
    border: 1px solid #999;
    margin-bottom:10px;
.report-hd
    background: #fff;
    dl
        padding-left: 20px;
.report-bd
    background:@f2f2f2;

.report-plugin-item-hd
    background:#d3e9f4;
    border-bottom:1px solid #fff;
    padding:10px;
.report-plugin-item-bd
    display:none;
    padding:10px;
    background:#fff;