.kpi-modal .modal-header {
  border-bottom: none;
}
.kpi-modal .modal-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.kpi-modal .modal-header img {
  float: right;
}
.fb-title {
  padding: 10px 200px 10px 10px;
  background: #fff url("/images/logo.png") 100% 10px no-repeat;
}
.fb-title h1 {
  font-size: 54px;
  line-height: 50px;
  margin-bottom: 10px;
  font-weight: normal;
}
.fb-title .path {
  color: #bbb;
}
.fb-page {
  margin: 10px 0;
  position: relative;
}
.fb-page h3 {
  background: #29c2bd;
  border: 2px solid #000;
  padding: 10px;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.fb-page .options {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  color: #fff;
}
.fb-page .status {
  margin: 0 10px;
  display: inline-block;
}
.form-page-add {
  border: 2px #999 dashed;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
.version {
  border: #999 2px solid;
  border-top: 0;
  position: relative;
  background: #d3e9f4;
  color: #3898be;
  padding: 10px;
}
.version a.version_no {
  font-size: 16px;
}
.version .options {
  padding: 5px;
  color: #666;
}
.versions {
  list-style: none;
  margin: 0;
}
.version-add {
  float: left;
}
ul.timestamps {
  list-style: none;
  margin: 20px 0;
}
ul.timestamps li {
  padding: 10px;
  border-bottom: 1px solid #fff;
  background: #fff;
  border-top: 1px solid #eee;
  position: relative;
}
ul.timestamps li:hover {
  background: #f2f2f2;
}
ul.timestamps .build-version {
  color: #aaa;
  margin-left: 20px;
}
ul.timestamps .build-time {
  position: absolute;
  color: #aaa;
  right: 10px;
  top: 5px;
}
.buildto .status {
  display: inline-block;
  margin: 0 10px;
}
.ks-popup,
.ks-overlay {
  position: absolute;
  left: -9999px;
}
#reports {
  margin-top: 10px;
}
.report {
  border: spx solid #ddd;
  margin-bottom: 10px;
}
.report-hd {
  background: #fff;
}
.report-hd dl {
  padding-left: 20px;
}
.report-bd {
  background: ;
}
.report-plugin-item-hd {
  background: #d3e9f4;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
.report-plugin-item-bd {
  display: none;
  padding: 10px;
  background: #fff;
}
.report-plugin-item-hd h4 {
  color: #999;
}
.report-plugin-hd-has-content h4 {
  color: #000;
}
.plugin-file-list {
  list-style: none;
}
