.fb-title
    h1
        font-size:54px;
        line-height:50px;
        margin-bottom:10px;
        font-weight:normal;
    .path
        color:#BBB;
.fb-page 
    margin:10px 0;
    position: relative;
    h3
        background:#29c2bd;
        border: 2px solid #000;
        padding:10px;
        color: #fff;
        border-radius:5px 5px 0 5px;
        
    .options
        position: absolute;
        padding:10px;
        top:0;
        right:0;
        color:#fff;
    .status
        margin:0 10px;
        display:inline-block;

.version
    border:#999 2px solid;
    // border-radius:0 0 5px 5px;
    border-top: 0;
    margin-left: 50px;
    position: relative;
    background:#d3e9f4;
    color:#3898be;
    padding:10px;
    a.version_no
        font-size:16px;
    .options
        padding:5px;
        color: #666;

.versions
    list-style: none;
    margin:0;


.version-add
    float:left;
    // margin-left: 80px;

ul.timestamps
    list-style:none;
    margin:20px 0;
    li
        padding:10px;
        border-bottom:1px solid #FFF;
        background:#fff;
        &:hover
            background:#f2f2f2;
        border-top: 1px solid #EEE;

.buildto
    .status
        display:inline-block;
        margin:0 10px;
