extends layout

block content
  .container
    .row-fluid
      .span12
        .fb-logo
          a(href='/')
            img(src='/images/logo.png')
        form.ki-modal(action='/app',method='GET')
          label 本地应用路径：
          .input-append
            input.input-xxlarge(type='text',name='root')
            button.btn(type='submit') Open
          div#app-history.app-history
  script.
    KISSY.use('page/index');