extends layout

block content
  .container
    .row-fluid
      .span12
        .modal.kpi-modal
          .modal-header
            h3
              img(src='/images/logo.png')
          .modal-body
            form.well(action='/app',method='GET')
              label Local app path
              input.span9(type='text',name='root')
              button.btn.btn-primary(type='submit') Submit
              div#app-history
  script.
    KISSY.use('page/index');