extends layout

block content
  .container
    .row
      .span12
        form.ki-modal(action='/app',method='GET')
          label 本地应用路径：
          .input-append
            input.input-xlarge(type='text',name='root')
            button.btn(type='submit') Open
          div#app-history.app-history
  script.
    KISSY.use('page/index');